{% load mezzanine_tags %}
{% if page.slides.exists %}
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for image in page.slides.all %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for image in page.slides.all %}
                <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                   {% if image.resize %}
                     <div class="fill" style="background-image:url('{{ MEDIA_URL }}{% thumbnail image.file 1500 312 %}');"></div>
                    {% else %}
                     <div class="fill" style="background-image:url('{{ MEDIA_URL }}{{ image.file }}');"></div>
                    {% endif %}
                    <div class="carousel-caption">
                        <h1>
                            {{ image.description }}
                            {% if image.link %}
                                <a href="{{ image.link }}">
                                    {% if image.link_text %}
                                        {{ image.link_text }}
                                    {% else %}
                                        {{ image.link }}
                                    {% endif %}
                                </a>
                            {% endif %}
                        </h1>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
{% endif %}
