<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
    {% load pages_tags mezzanine_tags i18n future staticfiles %}
    {% load mezzanine_wubook_tags %}

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="">

        <title>
            {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>


        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
        {% ifinstalled mezzanine.blog %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
            <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
        {% endifinstalled %}

        {% compress css %}

            <!-- Bootstrap core CSS -->
            <link href="{% static 'modern_business/css/bootstrap.css' %}" rel="stylesheet">
            <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">

            <!-- Add custom CSS here -->
            <link href="{% static 'modern_business/css/modern-business.css' %}" rel="stylesheet">
            <link href="{% static 'modern_business/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
            <link href="{% static 'modern_business/css/custom.css' %}" rel="stylesheet">
            <link href="{% static 'modern_business/css/navbar_auto_collapse.css' %}" rel="stylesheet">

            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/rtl.css" %}">
            {% endif %}

            {% ifinstalled cartridge.shop %}
                <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
                {% if LANGUAGE_BIDI %}
                    <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
                {% endif %}

            {% endifinstalled %}
            {% get_wubook_static_files 'css' %}

            {% block extra_css %}{% endblock %}
        {% endcompress %}

        {% block extra_head %}{% endblock %}

    </head>

    <body id="{% block body_id %}body{% endblock %}">

        <nav id="autocollapse" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                {% if settings.MODERN_BUSINESS_LOGO %}
                    <div class="logo">
                        <a href="/"><img src="{{ settings.MODERN_BUSINESS_LOGO }}"></a>
                    </div>
                {% endif %}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if settings.SITE_TITLE %}
                        <a class="navbar-brand" href="/">
                            {{ settings.SITE_TITLE }}
                        </a>
                    {% endif %}

                    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
{#                    {% search_form "all" %} TODO: Revisar si se va a utilizar el cuadro de busqueda#}
                    {% page_menu "pages/menus/dropdown.html" %}
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        {% block slides %}{% endblock %}
        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        {% spaceless %}
                            {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                        {% endspaceless %}
                        <li class="pull-right hidden-xs form-wubook">
                            {% include 'mezzanine_wubook/includes/form_wubook_inline.html' %}
                        </li>
                    </ol>

                    {% nevercache %}
                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-hidden="true">&times;</button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endnevercache %}

                    <div class="visible-xs">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            {% trans 'Booking form' %}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {% include 'mezzanine_wubook/includes/form_wubook.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    {% block main %}{% endblock %}
                </div>
            </div>

        </div>
        <!-- /.container -->

        <footer>
            <div class="container">
                {% page_menu "pages/menus/footer.html" %}

                <div class="row">
                    <p class="site-info text-center">
                        {% trans "Powered by" %}
                        <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
                        <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
                        {% trans "and" %}
                        <a href="http://www.djangoproject.com">Django</a>
                        <span class="separator">|</span>
                        {% trans "Theme by" %} <a target="_blank" href="http://startbootstrap.com/modern-business">Start
                        Bootstrap - Modern Business</a>
                        {% ifinstalled mezzanine.mobile %}
                            <span class="separator">|</span>
                            <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
                        {% endifinstalled %}
                    </p>
                </div>
            </div>
        </footer>


        <!-- JavaScript -->
        {% compress js %}
            <script src="{% static "modern_business/js/jquery-1.10.2.js" %}"></script>
{#            <script src="{% static "modern_business/js/bootstrap.min.js" %}"></script>#}
            <script src="{% static "js/bootstrap.js" %}"></script>
            <script src="{% static "js/bootstrap-extras.js" %}"></script>
            <script src="{% static "modern_business/js/carousel.min.js" %}"></script>
            <script src="{% static "modern_business/js/modern-business.js" %}"></script>
            <script src="{% static "modern_business/js/navbar_auto_collapse.js" %}"></script>
            {% block extra_js %}{% endblock %}
        {% endcompress %}

        <!--[if lt IE 9]>
                <script src="{% static "js/html5shiv.js" %}"></script>
                <script src="{% static "js/respond.min.js" %}"></script>
            <![endif]-->
        {% include "includes/footer_scripts.html" %}
        {% get_wubook_static_files 'js' %}
    </body>

</html>
